*{
	font-weight: bold;

}

@media screen and (max-width: 480px){
	li>a:focus{
	background: #222222;
	}
	li>a:hover
}

#encabezado{
	text-decoration: none;
    color: #fff;
   
}

body, html {
	font-family: Poppins-Regular, sans-serif;
	height: 100%;
}

li>a:hover,
li>a:focus{
	background: #222222;
}



