.btnFlotante{
  background:#40B4D7;
  border-radius:100%;
  border:none;
  bottom:0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
  color:#FFF;
  cursor:pointer;
  font-size:36px;
  height:60px;
  margin-bottom:16px;
  margin-right:16px;
  outline:none;
  position:absolute;
  right:0;
  width:60px;
}

body, html {
  font-family: Poppins-Regular, sans-serif;
  height: 100%;
}